[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/gl3w"]
	path = libs/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/doctest"]
	path = libs/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "libs/SimpleText"]
	path = libs/SimpleText
	url = https://github.com/podgorskiy/SimpleText.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
